# The order of packages is significant, because pip processes them in the order
# of appearance. Changing the order has an impact on the overall integration
# process, which may cause wedges in the gate later.
# (c) Copyright 2015-2016 Hewlett Packard Enterprise Development LP
# (c) Copyright 2017-2018 SUSE LLC
#Testing Requirements
WebTest>=2.0 # MIT
coverage!=4.4,>=4.0 # Apache-2.0
WSME>=0.8 # MIT
pylint>=1.0.0
flake8>=2.2.2
mock>=2.0 # BSD
sphinx>=1.6.2 # BSD
-e stubs/plugins
